* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
.btn-add-room {
  display: flex;
  align-self: center;
  padding: 50px;
}
.user_block {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}
#circle {
  border-radius: 20px;
  width: 15px;
  height: 15px;
  margin-right:10px;
}

.userbar {
  width: 250px;
  height: 25px;
  border: 1px solid black;

}
::-webkit-progress-bar {
  background-color: #fff;
}
.game-field {
  position: absolute;
  top: 100px;
  left: 400px;
  border: 1px solid black;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  text-align: center;
}
.ready-btn {
  width: 150px;
  height: 75px;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;

}
.ready-status-red {
  background-color: red;
}
.ready-status-green {
  background-color: green;
}
.timerN {
  font-size: 70px;
  display: block;
  margin-top: 160px;
}
.type-text {
  font-size: 36px;
  margin-top: 160px;
}
.correct {
  background-color: lightgreen;
}

.modal-window {
  width: 350px;
  height: 300px;
  background-color: #fff;
  margin: auto;
  margin-top: 75px;
}
.finished {
  background-color: red;

}
.timer-container {
  margin: 70px;
}